<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Reservation List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Reservation</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Reservation Id</th>
            <th>Client</th>
            <th>Checkin Date</th>
            <th>Checkout Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}">Reservation Id</td>
            <td th:text="${reservation.clientId}">Client</td>
            <td th:text="${reservation.checkinDate}">Checkin Date</td>
            <td th:text="${reservation.checkoutDate}">Checkout Date</td>
            <td>
                <a th:href="@{/reservations/{id}/cancel(id=${reservation.id})}" class="btn btn-info">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/home}" class="btn btn-primary">Home</a>

</div>
</body>
</html>
