<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Reservation Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Reservation Form</h1>
    <form action="#" th:action="@{/reservations/new}" method="post" th:object="${reservation}">
        <div class="form-group">
            <label for="checkinDate">Checkin Date:</label>
            <input type="date" class="form-control" id="checkinDate" th:field="*{checkinDate}" />
        </div>

        <div class="form-group">
            <label for="checkoutDate">Checkout Date:</label>
            <input type="date" class="form-control" id="checkoutDate" th:field="*{checkoutDate}" />
        </div>

        <div class="form-group">
            <label for="clientId">Client ID:</label>
            <select class="form-control" id="clientId" th:field="*{clientId}">
                <option value="">-- Select a Client ID --</option>
                <option th:each="client : ${clientIds}" th:value="${client}" th:text="${client}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="roomId">Room ID:</label>
            <input type="text" class="form-control" id="roomId" th:field="*{roomId}" readonly />
        </div>

        <button type="submit" class="btn btn-primary">Create Reservation</button>
    </form>
</div>
</body>
</html>
